.map{
    background-color: var(--color-gray-3);
}

#land_top{
    position: relative;
    top: 0px;
    left: 548px;
}

#land_botton{
    position: relative;
    left: 610px;
    top: 738px;
}

#line_map_black{
    height:870px;
    position: relative;
    left: 820px;
    top: -186px;
}

#line_map_green{
    height:870px;
    position: relative;
    left: 794px;
    top: -1054px;
}

#line_map_purple{
    height:870px;
    position: relative;
    left: 838px;
    top: -2800px;
}

#line_map_blue{
    height:870px;
    position: relative;
    left: 754px;
    top: -1930px;
}

.map_panel{
    position: relative;
    top: -10px;
    margin-top: -2em;
}

#location_top{
    position: relative;
    left: 901px;
    top: -3700px;
}

#location_botten{
    position: relative;
    left: 1220px;
    top: -2860px;
}

.map_map{
    max-height: 100px;
}