.current_route{
    width: 450px;
    height: 160px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray-1);
    margin: 0em 1em;
    padding: 1em;
    border-width: 5px;
    border-color: var(--color-gray-3);
    border-radius: 10px;
}

.current_route_name_and_line{
    display: flex;
    flex-direction: column;
}
.current_route_name_and_line > img{
    padding-bottom: 100;
}

.current_route_eco_and_time{
    display: flex;
    flex-direction: row;
}


.current_route_eco_and_time > *{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1px;
    padding-bottom: 2px;
}

.current_route_line{
    width: 160px;
    height: 50px;
    
}

.current_route_eco > p{
    padding-left: 10px;
}

.current_route_time > p {
    padding-left: 5px;
}

#time_text1 {
    padding-left: 10px;
}


.current_route_divider{
    width: 80px;
}