.routen_panel{
    width: 450px;
    height: 260px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray-1);
    margin: 2em 1em;
    padding: 1em;
    border-radius: 10px;
}

.routen_panel_div1{
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

.routen_panel_div1 p{
    font-size: large;
}

.routen_panel_route_date_and_color{
    display: flex;
    flex-direction: column;

}


.routen_panel_route_date_and_color > p{
    padding-bottom: 10px;
    
}
.routen_panel_hide{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.routen_panel_hide > img{
    position: relative;
    left: 130px
    
}

.routen_panel_div2_grouped{
    
    display: flex;
    flex-direction: column;
}


.routen_panel_div2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.routen_panel_div2_1{
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
    align-items: center;
}


.eco_rating{
    font-size: 34px;
    font-weight: bold;
    padding-left: 10px;
}

.eco_difference{
    padding-left: 16px;
}

.routen_panel_div2_2{
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
    align-items: center;
}

.routen_panel_eco_rating{
    display: flex;
    flex-direction: column;
}

.routen_panel_eco_rating > p {
    padding-left: 10px;
}

.routen_panel_eco_rating_value{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.routen_panel_time{
    display: flex;
    flex-direction: column;
}

.routen_panel_time > p{
    padding-left: 16px;
}

.time{
    font-size: 34px;
    font-weight: bold;
    padding-left: 10px;
    
}

.time_difference{
    padding-left: 16px;
}

.routen_panel_eco_rating_value{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.routen_divider{
    width: 60px;
}

.routen_panel_time_image > img{
    width: 48;
    height: 48;
}

#time_pic{
    width: 48;
    height: 48;
}
