.route_panel_list_routes{
    width: 500px;
    height: 880px;
    background-color: var(--color-gray-0);
    margin: 1em 1em;
    padding-top: 1em;
    border-radius: 15px;
    
}

.route_panel_ > p {
    font-weight: 700;
    font-size: 20px;
    padding-left: 2px;
}

.route_panel_{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.route_panel_dropdown > button:focus{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}



.current_route_div{
    padding-bottom: 1.45em;
}

.route_panel_{
    padding-left: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
}

.alternative_routes{
    height: 620px;
    width: 500px;
    overflow-y: scroll;
}

.alternative_routes::-webkit-scrollbar {
	width: 6px;
	background-color: var(--color-gray-0);
}

.alternative_routes::-webkit-scrollbar-thumb {
	background-color: var(--color-gray-2);
    border-radius: 5px;
}

.alternative_routes::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--color-gray-0);
}

.route_panel_divider{
    width: 230px;
}

.route_panel_dropdown{
    background-color: var(--color-gray-3);
    border: 5px;
}