.route_panel_list_routes{
    width: 500px;
    height: 850px;
    background-color: var(--color-gray-0);
    margin: 1em 1em;
    padding-top: 1em;
    border-radius: 15px;
    
}

.route_panel_dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    min-height: 50px;
    position: absolute;
    top: 1em;
    left: 280px;
}

.divider2{
    
}
.route_panel_dropdown > button{
    font-size: 20px;
    font-weight: 450;
    padding-bottom: 4px;
    width: 110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--color-gray-2);
}

.route_panel_dropdown > button:focus{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}



.current_route_div{
    
}

.alternative_routes{
    height: 620px;
    width: 500px;
    overflow-y: scroll;
}

.route_panel_{
    padding-left: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
}

.route_panel_divider{
    width: 230px;
}

.route_panel_dropdown{
    background-color: var(--color-gray-3);
    border: 5px;
}